html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-container-color: #ff4081;
  --mdc-protected-button-label-text-color: white;
}

.mat-mdc-raised-button.mat-accent:hover {
  --mdc-protected-button-container-color: #e91e63;
}

.success-snackbar {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-surface {
  background-color: #4caf50 !important;
  color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-surface {
  background-color: #f44336 !important;
  color: white !important;
}
